JWT_SECRET=your_jwt_secret_key_here
GOOGLE_CLIENT_ID=183209466249-u9sdjn40gtsai35cdluva8jqtnir92r8.apps.googleusercontent.com
MONGO_URI=mongodb+srv://accesslearning:Shivam%400710@access-learning-cluster.69dwwa4.mongodb.net/access_learning?retryWrites=true&w=majority&appName=access-learning-cluster
PORT=5000
